body {
    background-color: #e5e4e3;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Azeret Mono', monospace;
    position: relative;
}

.vertical-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    z-index: 2;
}

.vertical-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

.vertical-nav ul li {
    margin: 20px 0;
}

.vertical-nav ul li a {
    position: relative;
    text-decoration: none;
    color: #313030;
    font-family: 'Exo', sans-serif;
    padding-right: 50px;
    font-weight: 520;
    font-size: 1.7rem;
    transition: color 0.3s ease;
}

.vertical-nav ul li a:hover {
    color: #a8a8a6;
}

.vertical-nav ul li a.home:hover::after {
    content: "you're here";
    position: absolute;
    top: -7px;
    right: 70%;
    transform: translateX(-50%);
    background-color: none;
    color: #313030;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 3;
    pointer-events: pointer;
    font-family: 'Delicious Handrawn', cursive;
}

.polaroid {
    position: absolute;
    top: 20%;
    right: 10%;
    transform: rotate(10deg);
    z-index: 1;
}

.polaroid-frame {
    width: 300px;
    height: 350px;
    padding: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.polaroid-frame img {
    width: 98%;
    height: auto;
    max-height: 80%;
    transition: filter 0.5s ease;
}

.corner-text {
    font-size: 5rem;
    color: #333;
    line-height: 0.15;
    font-weight: 900;
    position: absolute;
    bottom: -60px;
    left: 140px;
    z-index: 2;
}
.corner-text::before {
    content: "➜";
    transform: rotate(90deg);
    position: absolute;
    font-size: 6rem;
    margin-left: -100px;
    bottom: 115px;
}

.gallery {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100vw;
    margin-top: 120vh;
    padding: 20px;
    background-color: #fff;
}

.gallery-item {
    flex: 0 0 100vh;
    width: 100vw;
    margin-bottom: 10px;
    transition: transform 0.3s;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.gallery-item:hover {
    transform: scale(1.05);
}