html {
    scroll-behavior: smooth; /* Enable smooth scrolling for the entire page */
    border-radius: 50%;
}
*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

body {
    background-color: #e5e4e3;
    margin: 0;
    font-family: 'Azeret Mono', monospace;
    position: relative;
}

.logo-link {
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 23;
    position: absolute;
    color: #333;
    margin-left: 60px;
    margin-top: 10px;
    font-family: 'Azeret Mono', monospace;
}

.logo-link:hover .logo {
    color: #000;
}
.vertical-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    z-index: 20;
}

.vertical-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

.vertical-nav ul li {
    margin: 10px 0;
}

.vertical-nav ul li a {
    position: relative;
    text-decoration: none;
    color: #313030;
    font-family: 'Exo', sans-serif;
    padding-right: 50px;
    font-weight: 520;
    font-size: 1.7rem;
    transition: color 0.3s ease;
    opacity: 0; /* Start with invisible */
    animation: fadeIn 1s forwards; /* Apply fade-in animation */
    animation-delay: 2s; }

@keyframes fadeIn {
    to {
        opacity: 1; /* End with fully visible */
    }
}

.vertical-nav ul li a:hover {
    color: #a8a8a6;
}

.vertical-nav ul li a.home:hover::after {
    content: "you're here";
    position: absolute;
    top: -7px;
    right: 70%;
    transform: translateX(-50%);
    background-color: none;
    color: #313030;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 3;
    pointer-events: pointer;
    font-family: 'Delicious Handrawn', cursive;
    opacity: 0; /* Start with invisible */
    animation: fadeIn 1s forwards; /* Apply fade-in animation */
}

@keyframes fadeIn {
    to {
        opacity: 1; /* End with fully visible */
    }
}
.corner-text1 {
    font-size: 1.2rem;
    color: #333;
    line-height: 0;
    font-weight: 900 !important;
    position: absolute;
    top: 45px;
    left: 60px; 
    z-index: 2;
    animation: fadeIn 1s forwards; /* Apply fade-in animation */
    animation-delay: 2s;
}

.polaroid {
    position: absolute;
    top: -17%;
    right: 13%;
    transform: rotate(6deg);
    z-index: 1;
}

.polaroid-frame {
    width: 400px;
    height: 450px;
    padding: 10px;
    background: white;
    box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; /* Add margin to space out the images */
    position: relative;
    animation: fadeInSlideUp 2s ease-in-out forwards;

}

.polaroid-frame::after {
    content: '2024-2025';
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: rgb(90, 86, 86);
    font-family: 'Delicious Handrawn', cursive;
}

.polaroid-frame img {
    width: 98%;
    height: auto;
    max-height: 80%;
    padding-bottom: 70px;
    transition: opacity 0.5s ease-in-out;
    animation: fadeInSlideUp 2s ease-in-out forwards;
}
@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.corner-text {
    font-size: 5rem;
    color: #333;
    line-height: 0.15;
    font-weight: 900;
    position: absolute;
    top: -470px;
    left: 140px;
    z-index: 2;
    animation: slideDownFadeIn 2s ease-in-out forwards;

}
.corner-text::before {
    content: "➜";
    transform: rotate(90deg);
    position: absolute;
    font-size: 6rem;
    margin-left: -100px;
    bottom: 115px;
    animation: rotateSlideDownFadeIn 2s ease-in-out forwards;

}

@keyframes slideDownFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes rotateSlideDownFadeIn {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: rotate(90deg) translateY(0);
    }
}

.gallery {
    display: flex;
    flex-direction: row; /* Align items vertically */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Align items to the start horizontally */
    align-items: flex-start; /* Align items to the start vertically */
    width: 100vw;
    background-color: #e5e4e3;
    margin-top: 800px; /* Adjust margin as needed */

}

.polaroid-frames {
    width: 350px; /* Adjust the width */
    height: 400px; /* Adjust the height */
    padding: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px; /* Default margin */
    z-index: 20;
}

.polaroid-frames:nth-child(odd) {
    margin: 60px; /* Different margin for odd elements */
}

.polaroid-frames:nth-child(even) {
    margin: 130px; /* Different margin for even elements */
}

.polaroid-frames:nth-child(3n) {
    margin: 90px; /* Different margin for every third element */
}

.polaroid-frames img {
    width: 98%;
    height: 70%;
    max-height: 80%;
    padding-bottom: 100px;
}

.polaroid-frames:hover {
    transform: scale(1.1) rotate(10deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increase the shadow */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
}
.i1 {
    position: absolute;
    top:600px;
    right: 60px;
}
.i2 {
    position: absolute;
    top:500px;
    left: 70px;
}
.i3 {
    position: absolute;
    top:1100px;
    right: 100px;
}
.i4 {
    position: absolute;
    top:1200px;
    left: 60px;
}
.i5 {
    position: absolute;
    top:1300px;
    right: 500px;
}
.i6 {
    position: absolute;
    top:1600px;
    right: 800px;
}
.i7 {
    position: absolute;
    top:1500px;
    left: 120px;
}
.i8 {
    position: absolute;
    top:1700px;
    right: 650px;
}
.i9 {
    position: absolute;
    top:70px;
    right: 100px;
}
.i10 {
    position: absolute;
    top:600px;
    right: 60px;
}
.i11 {
    position: absolute;
    bottom:2200px;
    right: 90px;
}
.i12 {
    position: absolute;
    bottom:2000px;
    left: 50px;
}
.i13 {
    position: absolute;
    bottom:1900px;
    left: 500px;
}
.i14 {
    position: absolute;
    bottom:1500px;
    right: 400px;
}
.i15 {
    position: absolute;
    bottom:1300px;
    left: 70px;
}
.i16 {
    position: absolute;
    bottom:1200px;
    right: 90px;
}
.i17 {
    position: absolute;
    bottom:1000px;
    left: 700px;
}
.i18 {
    position: absolute;
    bottom:800px;
    right: 70px;
}
.i19 {
    position: absolute;
    bottom:600px;
    left: 60px;
}
.i20 {
    position: absolute;
    bottom:800px;
    right: 400px;
}
.i21 {
    position: absolute;
    bottom:100px;
    left: 70px;
}

@media (max-width: 768px) {
    .vertical-nav ul li a {
        position: relative;
        font-size: 3rem;
    }
    .corner-text1 {
        font-size: 2rem;
    }
    .logo {
        font-size: 2rem;
    }
    .corner-text {
        font-size: 5rem;
        top: 300px;
        left: 10px;  
    }
    .corner-text::after {
        content: "➜";
        transform: rotate(90deg);
        position: absolute;
        font-size: 6rem;
        margin-left: 750px;
        bottom: 110px;
        animation: rotateSlideDownFadeIn 2s ease-in-out forwards;  
    }
    .polaroid {
        top: -5%;
        right: -150%;
    }
    .polaroid-frame {
        width: 600px;
        height: 650px;
        justify-content: center;
        align-items: center;
        position: relative; 
    }
    .polaroid-frames {
        width: 450px; /* Adjust the width */
        height: 500px;
        z-index: 10;
    }
    .gallery {
        position: relative;
        flex-direction: column; /* Align items vertically */
        justify-content: center; /* Align items to the start horizontally */
        align-items: flex-start; /* Align items to the start vertically */
/* Adjust margin as needed */
        top:700px;
        left: 200px;   
    }

    .i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8, .i9, .i10, .i11, .i12, .i13, .i14, .i15, .i16, .i17, .i18, .i19, .i20, .i21 {
        margin: 10px;
    }
    
    
}


