@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    margin-left: 8rem;
    background-color: #e5e4e3;
    font-family: 'Azeret Mono', monospace;
    height: 100vh;
    animation: fadeIn 2s ease-out;

 }

.left{
    font-size: 3rem;
    color: #333;
    line-height: 2;
    font-family: 'Delicious Handrawn', cursive;
    margin-bottom: -40px;
}
.corner-text {
    font-size: 3rem;
    color: #333;
    line-height: 1;
    font-weight: 900 !important;
    margin-top: 100;
}


.LogIn{
    width: 500px;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(35px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.LogIn h1{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
}

.LogIn .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: black;
}

.LogIn .button{
width: 80%;
height: 45px;
padding: 10px;
background: transparent;
margin: 0 auto; 
display: block;
text-decoration: none;
border: none;
color: black;
border-radius: 40px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
letter-spacing: 1px;
cursor: pointer;
font-size: 16px;
font-weight: 600;
}

.button {
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    color: #333;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    color: #a8a8a6;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




